:root {
  --y-axis-page-align: center;
  --x-axis-page-align: center;
  --align-text: center;

  --color-accent-1: #aaa;

  --color-logo: white;
  --color-text: #dddddd;
  --color-main-1: #222;
  --color-main-2: #343434;
  --color-main-3: lime;

  --background: #111;

  /* Selection */
  --selection-background: lightblue;
  --selection-color: white;

  /* Page Width */
  --max-width: 1300px;

  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --font-header: 'Open Sans', sans-serif;
  --font-logo: 'MuseoModerno', cursive;
}
